@use '../abstracts' as *;

// input
.input-wrap {
  position: relative;

  label {
    display: inline-block;
    @include rem(margin-bottom, 10);
    @include rem(font-size, 18);
    line-height: $l18;
    font-weight: 700;

    .required-mark {
      vertical-align: middle;
      @include rem(margin-left, 2);
      color: $secondary05;
    }
  }

  input {
    display: flex;
    width: 100%;
    @include rem(padding, 15 16);
    @include rem(font-size, $f16);
    line-height: $l16;
    background: $bg-f5f5f5;
    border: 1.5px solid transparent;
    outline: none;
    transition: all $custom-duration $custom-ease;

    &::placeholder {
      color: $font-aaaaaa;
    }

    &:focus {
      border: 1.5px solid $primary;
    }

    &.disabled {
      background: $bg-e5e5e5;
    }
  }

  .form-message {
    position: absolute;
    @include rem(bottom, -20);
    left: 0;
    @include rem(font-size, 12);
    color: $error;
  }

  &.is-error {
    input {
      border: 1px solid $error;
    }
  }

  .input-currency {
    position: relative;

    &.is-focused {
      input {
        @include rem(padding, 15 40);
      }

      .symbol,
      .convert-num {
        position: absolute;
        top: 50%;
        @include rem(font-size, $f14);
        line-height: $l14;
        transform: translateY(-50%);
      }

      .symbol {
        @include rem(left, 20);
      }

      .convert-num {
        @include rem(right, 20);
      }
    }

    // input {
    //   border: none !important;
    // }
  }
}

// textarea
.component-input {
  &.type-textarea {
    position: relative;

    .max-length {
      position: absolute;
      @include rem(bottom, 17);
      @include rem(left, 20);
      @include rem(font-size, $f16);
      line-height: $l16;
      font-weight: 500;
      color: $font-aaaaaa;
    }
  }
}

textarea {
  outline: none;

  &:focus {
    border: 1.5px solid $primary;
  }

  &.form-textarea {
    display: flex;
    width: 100%;
    @include rem(min-height, 240);
    @include rem(padding, 17 20 40);
    @include rem(font-size, $f16);
    line-height: $l16;
    font-weight: 500;
    background-color: $bg-f5f5f5;
    border: transparent;
    border-radius: 0;
    box-shadow: none;
    resize: none;

    &::placeholder {
      color: $font-aaaaaa;
    }

    &.resize {
      resize: both;
    }

    &.advantage-textarea {
      @include rem(min-height, 122);
    }
  }
}

// ############################################# Mo #############################################
@media (max-width: 1023px) {}