@use '../abstracts' as *;

.mna-center-page {
  .top-visual {
    background-image: url(/images/center/bg_center_visual_01.jpg);
  }

  .sec-content-01,
  .sec-content-02,
  .sec-content-03 {
    .inner {
      width: 100%;
      @include rem(max-width, 1380);
      margin: 0 auto;
    }

    .tit {
      @include rem(font-size, $f40);
      line-height: $l40;
      font-weight: 700;
      br {
        display: none;
      }
    }

    .txt {
      @include rem(margin-top, 24);
      @include rem(font-size, $f20);
      line-height: $l20;
      font-weight: 500;
    }

    .img-wrap {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .sec-content-01 {
    .inner {
      @include rem(padding, 160 0 80);
    }

    .img-wrap {
      @include rem(margin-top, 96);
    }
  }

  .sec-content-02 {
    .inner {
      @include rem(padding, 80 0 120);
    }

    .img-wrap {
      @include rem(margin-top, 63);
    }
  }

  .sec-content-03 {
    .inner {
      @include rem(padding, 0 0 200);
    }
  }

  .components-layout {
    &.flex-row {
      display: flex;
      @include rem(gap, 8);
      align-items: center;

      > div,
      .input-wrap {
        width: 100%;
        flex: 1;
      }
    }
  }

  .select-trigger {
    text-align: left;
    span {
      @include ellipsis;
    }
  }

  .component-input {
    @include rem(margin-top, 16);
  }

  .btn-wrap {
    display: flex;
    justify-content: center;
    @include rem(margin-top, 40);
    .btn.large {
      flex: 0 auto;
    }
  }
}

// ############################################# Mo #############################################
@media (min-width: 1077px) and (max-width: 1700px) {
  .mna-center-page {
    .sec-content-01,
    .sec-content-02 {
      .inner {
        @include rem(padding-left, 24);
        @include rem(padding-right, 24);
      }
    }
  }
}

@media (max-width: 1076px) {
  .mna-center-page {
    .top-visual {
      background-image: url(/images/center/bg_center_visual_01_mo.jpg);
    }
    .sec-content-01,
    .sec-content-02,
    .sec-content-03 {
      .tit {
        @include rem(font-size, $f32);
        line-height: $l32;
        br {
          display: block;
        }
      }
      .txt {
        @include rem(margin-top, 20);
        @include rem(font-size, $f18);
        line-height: $l18;
      }
    }
    .sec-content-01 {
      .inner {
        @include rem(padding, 120 24 0);
      }
    }
    .sec-content-02 {
      .inner {
        @include rem(padding, 120 24 0);
      }
    }
    .sec-content-03 {
      .inner {
        @include rem(padding, 56 24 120);
      }
    }
    .components-layout {
      &.flex-row {
        flex-direction: column;
      }
    }
    .component-input {
      @include rem(margin-top, 24);
    }
    .btn-wrap {
      @include rem(margin-top, 24);
      .btn.large {
        flex: 1;
      }
    }
  }
}
